#sw-quiz-image {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 100px;
}

#sw-img {
    width:800px;
    height:auto;
    display:flex;
    align-items: center;
}